In [0]:
import pandas as pd
import numpy as np
import re
import glob
# import dask.array as da   
# import dask.dataframe as dd

base_path = './drive/My Drive/coderschool/'

In [2]:
from google.colab import drive
drive.mount('/content/drive')

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3aietf%3awg%3aoauth%3a2.0%3aoob&response_type=code&scope=email%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdocs.test%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive.photos.readonly%20https%3a%2f%2fwww.googleapis.com%2fauth%2fpeopleapi.readonly

Enter your authorization code:
··········
Mounted at /content/drive

# Preprocessing

## Ads

In [0]:
ad = pd.read_json(base_path + '/ads (1)', lines=True)

In [0]:
ad.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 920475 entries, 0 to 920474
Data columns (total 20 columns):
ad_id               920475 non-null int64
category            920475 non-null int64
category_name       920475 non-null object
list_id             920475 non-null int64
subject             920475 non-null object
number_of_images    920475 non-null int64
price               869904 non-null float64
company_ad          920475 non-null bool
seller_type         920475 non-null object
on_listing          920475 non-null bool
in_shop             920475 non-null bool
city                920467 non-null object
city_id             920467 non-null float64
region              918444 non-null object
region_id           918444 non-null float64
district            919997 non-null object
ward                800249 non-null object
shop_id             40333 non-null float64
address             199377 non-null object
street              165850 non-null object
dtypes: bool(3), float64(4), int64(4), object(9)
memory usage: 122.0+ MB

In [0]:
ads = ads[(ads['category'] >= 5000) & (ads['category'] < 6000)]
ads

           ad_id  category              category_name  ...  shop_id address  street
108781  89054491      5070                    Desktop  ...      NaN     NaN     NaN
108782  88210600      5070                    Desktop  ...      NaN     NaN     NaN
108783  88686210      5070                    Desktop  ...      NaN     NaN     NaN
108784  88563817      5070                    Desktop  ...      NaN     NaN     NaN
108785  91484868      5070                    Desktop  ...      NaN     NaN     NaN
...          ...       ...                        ...  ...      ...     ...     ...
835114  90835489      5020  TV, Speakers, MP3 players  ...      NaN     NaN     NaN
835115  89261164      5020  TV, Speakers, MP3 players  ...      NaN     NaN     NaN
835116  90908913      5020  TV, Speakers, MP3 players  ...      NaN     NaN     NaN
835117  89664243      5020  TV, Speakers, MP3 players  ...      NaN     NaN     NaN
835118  90894381      5020  TV, Speakers, MP3 players  ...      NaN     NaN     NaN

[307297 rows x 20 columns]

In [0]:
ad_id = ads['ad_id']

In [0]:
ads['subject'] = ads['subject'].str.lower()

In [0]:
ads.to_json('./ads.json', orient='records')

In [0]:
category = ads.loc[:, ('category', 'category_name')]
category.drop_duplicates(inplace=True)
category

        category              category_name
108781      5070                    Desktop
135784      5040                    Tablets
233305      5080                 Components
400540      5060                Accessories
427980      5010              Mobile Phones
609914      5090            Smart wearables
662003      5030         Computers, Laptops
708091      5050     Cameras, Video Cameras
768099      5020  TV, Speakers, MP3 players

In [0]:
category = category[(category['category'] >= 5000)&(category['category'] < 6000)]
category

        category              category_name
108781      5070                    Desktop
135784      5040                    Tablets
233305      5080                 Components
400540      5060                Accessories
427980      5010              Mobile Phones
609914      5090            Smart wearables
662003      5030         Computers, Laptops
708091      5050     Cameras, Video Cameras
768099      5020  TV, Speakers, MP3 players

In [0]:
category.to_json('./electronic_category.json', orient='records')

## Ad_params

In [0]:
params = pd.read_json(base_path + '/ad_params', lines=True)

params.head(5)

In [0]:
params.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8885823 entries, 0 to 8885822
Data columns (total 3 columns):
ad_id    int64
name     object
value    object
dtypes: int64(1), object(2)
memory usage: 203.4+ MB

In [0]:
params1 = params[params['ad_id'].isin(ad_id)]

In [0]:
params1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3157154 entries, 0 to 8885820
Data columns (total 3 columns):
ad_id    int64
name     object
value    object
dtypes: int64(1), object(2)
memory usage: 96.3+ MB

In [0]:
params['name'].unique()

array(['trade', 'area', 'size', 'street_id', 'condition_ad',
       'property_legal_document', 'elt_condition', 'motorbiketype',
       'area_v2', 'giveaway', 'auvi_type', 'region_v2', 'rooms',
       'address', 'landed_type', 'motorbikemodel', 'regdate', 'ward',
       'mobile_color', 'mobile_type', 'accessories_type',
       'property_road_condition', 'mobile_model', 'component_type',
       'mobile_brand', 'pc_ram', 'mobile_capacity', 'property_status',
       'product_id', 'plate', 'street_number', 'max_salary', 'carcolor',
       'mileage_v2', 'truckbrand', 'evehiclebrand', 'carorigin',
       'toilets', 'pc_cpu', 'mileage', 'itemconsumer', 'pc_model',
       'cartype', 'salary_type', 'mfdate', 'carmodel', 'contract_type',
       'evehiclemotor', 'pc_drive_capacity', 'motorbikebrand', 'job_type',
       'unitnumber', 'pc_vga', 'component_class', 'tablet_screen_size',
       'auvi_brand', 'preferred_gender', 'motorbikecapacity',
       'commercial_type', 'carseats', 'carbrand', 'elt_warranty', 'fuel',
       'tablet_capacity', 'tablet_brand', 'seller_addr', 'min_salary',
       'longitude', 'vehiclecolor', 'direction', 'collection_type',
       'preferred_working_experience', 'ovehicleorigin', 'projectid',
       'pc_brand', 'bicyclesport', 'accessories_class', 'bicyclematerial',
       'floors', 'swatch_model', 'property_back_condition', 'birthday',
       'company_name', 'desktop_screen_size', 'payment_delivery',
       'laptop_screen_size', 'auvi_internet', 'gender', 'auvi_resolution',
       'gearbox', 'bicycletype', 'apartment_type', 'tablet_model',
       'evehicletype', 'preferred_job_type', 'consumer', 'block',
       'elt_lock', 'truckweight', 'evehicleorigin', 'instrument_type',
       'working_experience', 'floornumber', 'swatch_type',
       'vehicleguarantee', 'balconydirection', 'latitude',
       'bicycleorigin', 'swatch_brand', 'pc_drive_type',
       'elt_cellular_type', 'ovehicletype', 'bicyclebrand',
       'svehicletype', 'projectimages', 'bicyclesize',
       'first_time_shop_to_chotot', 'has_original_images', 'busslot',
       'deviation'], dtype=object)

In [0]:
params1['name'].unique()

array(['trade', 'area', 'condition_ad', 'elt_condition', 'area_v2',
       'giveaway', 'auvi_type', 'ward', 'mobile_color', 'region_v2',
       'mobile_type', 'accessories_type', 'mobile_model',
       'component_type', 'mobile_brand', 'pc_ram', 'mobile_capacity',
       'pc_cpu', 'pc_model', 'pc_drive_capacity', 'pc_vga',
       'component_class', 'tablet_screen_size', 'auvi_brand',
       'elt_warranty', 'tablet_capacity', 'tablet_brand', 'seller_addr',
       'pc_brand', 'accessories_class', 'swatch_model',
       'desktop_screen_size', 'payment_delivery', 'laptop_screen_size',
       'auvi_internet', 'auvi_resolution', 'tablet_model', 'elt_lock',
       'swatch_type', 'swatch_brand', 'pc_drive_type',
       'elt_cellular_type', 'latitude', 'first_time_shop_to_chotot',
       'longitude', 'has_original_images', 'itemconsumer', 'consumer',
       'collection_type'], dtype=object)

In [0]:
params1.to_json(base_path + '/ad_params.json', orient='records')

## User interactions

In [0]:
interactions = pd.read_json(base_path + '/adstats000000000000', lines=True)
interactions.head(5)

    user_session                      user_fingerprint  ... filter_model  lead_type
0  1568854267741      e449e2d5af0fb7d6d99e253d89780f32  ...                     NaN
1  1568854238995      e449e2d5af0fb7d6d99e253d89780f32  ...                     NaN
2  1568567445875  d59c9611-760e-4c7a-baac-a72ac5000680  ...                     NaN
3  1568566309226  d59c9611-760e-4c7a-baac-a72ac5000680  ...                     NaN
4  1569067302663      e449e2d5af0fb7d6d99e253d89780f32  ...                     NaN

[5 rows x 19 columns]

In [0]:
interactions.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2648312 entries, 0 to 2648311
Data columns (total 19 columns):
user_session          object
user_fingerprint      object
page_platform         object
page_number           int64
event_type            object
event_name            object
event_server_time     datetime64[ns]
filter_keyword        object
filter_category_id    int64
filter_region_id      int64
adlist_id             int64
adposition            int64
adplacement           object
adsource              object
filter_type           object
filter_price          object
filter_brand          object
filter_model          object
lead_type             object
dtypes: datetime64[ns](1), int64(5), object(13)
memory usage: 383.9+ MB

In [0]:
interactions.drop(columns=['user_session', 'page_platform', 'page_number', 'adposition', 'adplacement', 'adsource', 'lead_type'], inplace=True)

In [0]:
interactions.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1579333 entries, 9 to 2631465
Data columns (total 12 columns):
user_fingerprint      1579333 non-null object
event_type            1579333 non-null object
event_name            1579333 non-null object
event_server_time     1579333 non-null datetime64[ns]
filter_keyword        1579333 non-null object
filter_category_id    1579333 non-null int64
filter_region_id      1579333 non-null int64
adlist_id             1579333 non-null int64
filter_type           1579333 non-null object
filter_price          1579333 non-null object
filter_brand          1579333 non-null object
filter_model          1579333 non-null object
dtypes: datetime64[ns](1), int64(3), object(8)
memory usage: 156.6+ MB

In [0]:
interactions = interactions[(interactions['filter_category_id']>=5000)&(interactions['filter_category_id']<6000)]
interactions

                             user_fingerprint  ... filter_model
9            e449e2d5af0fb7d6d99e253d89780f32  ...
174      d59c9611-760e-4c7a-baac-a72ac5000680  ...
175      131e607a-841c-4048-912b-8dfe0ef86cc1  ...
176      bbf6d39b-b385-4740-be74-f61833c2a621  ...
177      cef1ee24-d3d6-4d72-b7e9-a5457bf3f0af  ...
...                                       ...  ...          ...
2631461                                        ...
2631462  30b4a4a2-aa28-4e7c-ab46-d466ed2318e4  ...
2631463  b5b68add-3869-4e72-bebc-ba0b70b9b46c  ...
2631464  c00841dc-3f9a-43f0-8e5c-fdad773c880d  ...
2631465                                        ...

[1579333 rows x 12 columns]

In [0]:
interactions.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1579333 entries, 9 to 2631465
Data columns (total 12 columns):
user_fingerprint      1579333 non-null object
event_type            1579333 non-null object
event_name            1579333 non-null object
event_server_time     1579333 non-null datetime64[ns]
filter_keyword        1579333 non-null object
filter_category_id    1579333 non-null int64
filter_region_id      1579333 non-null int64
adlist_id             1579333 non-null int64
filter_type           1579333 non-null object
filter_price          1579333 non-null object
filter_brand          1579333 non-null object
filter_model          1579333 non-null object
dtypes: datetime64[ns](1), int64(3), object(8)
memory usage: 196.6+ MB

In [0]:
interactions.to_json(base_path + '/adstats0.json', orient='records')

In [0]:
interactions1 = pd.read_json(base_path + '/adstats000000000001', lines=True)
interactions1.head(5)

    user_session                      user_fingerprint  ... filter_model  lead_type
0  1568854564064      e449e2d5af0fb7d6d99e253d89780f32  ...                     NaN
1  1568566470278  d59c9611-760e-4c7a-baac-a72ac5000680  ...                    CALL
2  1568567765514  d59c9611-760e-4c7a-baac-a72ac5000680  ...                     NaN
3  1568567179803  d59c9611-760e-4c7a-baac-a72ac5000680  ...                     NaN
4  1568684755702      e449e2d5af0fb7d6d99e253d89780f32  ...                     NaN

[5 rows x 19 columns]

In [0]:
interactions1.drop(columns=['user_session', 'page_platform', 'page_number', 'adposition', 'adplacement', 'adsource', 'lead_type'], inplace=True)

In [0]:
interactions1 = interactions1[(interactions1['filter_category_id']>=5000)&(interactions1['filter_category_id']<6000)]
interactions1

                             user_fingerprint  ... filter_model
4            e449e2d5af0fb7d6d99e253d89780f32  ...
18           e449e2d5af0fb7d6d99e253d89780f32  ...
154      cef1ee24-d3d6-4d72-b7e9-a5457bf3f0af  ...
155      cef1ee24-d3d6-4d72-b7e9-a5457bf3f0af  ...
156      bbf6d39b-b385-4740-be74-f61833c2a621  ...
...                                       ...  ...          ...
2627561  30b4a4a2-aa28-4e7c-ab46-d466ed2318e4  ...
2627562  e717c62d-7fff-4ff4-b958-6b4faca986a1  ...
2627563  facd55f1-91b8-40d8-a982-5e3b1270db0e  ...
2627564  f69094e6-58d9-42b7-90c3-cfb95c355fa7  ...
2627565  7f73db8b-82fd-4ad3-9605-d250a191932a  ...

[1577584 rows x 12 columns]

In [0]:
interactions1.to_json(base_path + '/adstats1.json', orient='records')

In [0]:
def preprocessing_adstats(filename, newfile_destination):
    interactions = pd.read_json(filename, lines=True)
    interactions.drop(columns=['user_session', 'page_platform', 'page_number', 'adposition', 'adplacement', 'adsource', 'lead_type'], inplace=True)
    interactions = interactions[(interactions['filter_category_id']>=5000)&(interactions['filter_category_id']<6000)]
    interactions.to_json(newfile_destination, orient='records')

In [0]:
preprocessing_adstats(base_path + '/adstats000000000002', base_path + '/adstats2.json')

In [0]:
preprocessing_adstats(base_path + '/adstats000000000003', base_path + '/adstats3.json')

In [0]:
preprocessing_adstats(base_path + '/adstats000000000004', base_path + '/adstats4.json')

ValueError: ignored

In [0]:
preprocessing_adstats(base_path + '/adstats000000000005', base_path + '/adstats5.json')

In [0]:
preprocessing_adstats(base_path + '/adstats000000000006', base_path + '/adstats6.json')

In [0]:
drive.flush_and_unmount()

# Helper functions

In [0]:
def filter_irrelevant_keyword(ads):
    extracted_ads = ads[ads['subject'].str.contains('^((?!mua).)*$',regex=True)]
    extracted_ads = extracted_ads[extracted_ads['subject'].str.contains('^((?!xác).)*$',regex=True)]
    extracted_ads = extracted_ads[extracted_ads['subject'].str.contains('^((?!sửa).)*$',regex=True)]
    extracted_ads = extracted_ads[extracted_ads['subject'].str.contains('^((?!sữa).)*$',regex=True)]
    extracted_ads = extracted_ads[extracted_ads['subject'].str.contains('^((?!tiệm).)*$',regex=True)]
    extracted_ads = extracted_ads[extracted_ads['subject'].str.contains('^((?!ve chai).)*$',regex=True)]
    return extracted_ads

# Best pricing

In [0]:
ads = pd.read_json(base_path + '/ads')

In [0]:
ads.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 307297 entries, 108781 to 835118
Data columns (total 20 columns):
ad_id               307297 non-null int64
category            307297 non-null int64
category_name       307297 non-null object
list_id             307297 non-null int64
subject             307297 non-null object
number_of_images    307297 non-null int64
price               304565 non-null float64
company_ad          307297 non-null bool
seller_type         307297 non-null object
on_listing          307297 non-null bool
in_shop             307297 non-null bool
city                307296 non-null object
city_id             307296 non-null float64
region              306604 non-null object
region_id           306604 non-null float64
district            307186 non-null object
ward                252425 non-null object
shop_id             13271 non-null float64
address             0 non-null float64
street              0 non-null float64
dtypes: bool(3), float64(6), int64(4), object(7)
memory usage: 43.1+ MB

In [0]:
interactions = pd.read_json(base_path + './adstats0.json')
interactions1 = pd.read_json(base_path + './adstats1.json')
interactions = interactions.append(interactions1)

In [0]:
most_actived = interactions.groupby('adlist_id', as_index=False).count().sort_values('user_fingerprint', ascending=False).head(10000)['adlist_id']
most_actived_id = most_actived.tolist()

In [0]:
extracted_ads = ads[ads['list_id'].isin(most_actived_id)]
extracted_ads = filter_irrelevant_keyword(extracted_ads)

In [0]:
def best_pricing(city_id, category_id):
    return extracted_ads[(extracted_ads['city_id'] == city_id) & (extracted_ads['category'] == category_id)].sort_values(by='price').head(10)

In [0]:
my_city = 13000.0 # HCM
my_category = 5070 # desktop
best_pricing_desktop = best_pricing(my_city, my_category)

           ad_id  category category_name  ...  shop_id address  street
111327  91069364      5070       Desktop  ...      NaN     NaN     NaN
111882  66447997      5070       Desktop  ...      NaN     NaN     NaN
109744  91052228      5070       Desktop  ...      NaN     NaN     NaN
109454  90917220      5070       Desktop  ...      NaN     NaN     NaN
111988  91179877      5070       Desktop  ...      NaN     NaN     NaN
115359  91077260      5070       Desktop  ...      NaN     NaN     NaN
113035  91009909      5070       Desktop  ...      NaN     NaN     NaN
110265  90085586      5070       Desktop  ...      NaN     NaN     NaN
109048  90441843      5070       Desktop  ...      NaN     NaN     NaN
114854  84244151      5070       Desktop  ...      NaN     NaN     NaN

[10 rows x 20 columns]

In [0]:
best_pricing_desktop.to_json('./best_pricing_HCM_desktop.json', orient='records')

In [0]:
my_city = 13000.0 # HCM
my_category = 5010 # mobile phone
best_pricing_mobile = best_pricing(my_city, my_category)
best_pricing_mobile

           ad_id  category  category_name  ...  shop_id address  street
528783  91205623      5010  Mobile Phones  ...      NaN     NaN     NaN
480004  91321863      5010  Mobile Phones  ...      NaN     NaN     NaN
452843  91045527      5010  Mobile Phones  ...      NaN     NaN     NaN
453770  91137991      5010  Mobile Phones  ...      NaN     NaN     NaN
459680  91071101      5010  Mobile Phones  ...      NaN     NaN     NaN
443743  91063474      5010  Mobile Phones  ...      NaN     NaN     NaN
469458  91140702      5010  Mobile Phones  ...      NaN     NaN     NaN
433067  91476967      5010  Mobile Phones  ...      NaN     NaN     NaN
478634  91085294      5010  Mobile Phones  ...      NaN     NaN     NaN
443102  91063737      5010  Mobile Phones  ...      NaN     NaN     NaN

[10 rows x 20 columns]

In [0]:
best_pricing_mobile.to_json('./best_pricing_HCM_mobile.json', orient='records')

In [0]:
my_city = 13000.0 # HCM
my_category = 5030 # laptop
best_pricing_laptop = best_pricing(my_city, my_category)
best_pricing_laptop

           ad_id  category       category_name  ...  shop_id address  street
678571  91088217      5030  Computers, Laptops  ...      NaN     NaN     NaN
668255  91056769      5030  Computers, Laptops  ...      NaN     NaN     NaN
665892  91075525      5030  Computers, Laptops  ...      NaN     NaN     NaN
665214  91064104      5030  Computers, Laptops  ...      NaN     NaN     NaN
669140  91060475      5030  Computers, Laptops  ...      NaN     NaN     NaN
667378  91144575      5030  Computers, Laptops  ...      NaN     NaN     NaN
669627  91077637      5030  Computers, Laptops  ...      NaN     NaN     NaN
669389  91056246      5030  Computers, Laptops  ...      NaN     NaN     NaN
668349  91206317      5030  Computers, Laptops  ...      NaN     NaN     NaN
663623  91087068      5030  Computers, Laptops  ...      NaN     NaN     NaN

[10 rows x 20 columns]

In [0]:
best_pricing_laptop.to_json('./best_pricing_HCM_laptop.json',orient='records')

# Collection

Contruct content-based collection

In [0]:
ads = pd.read_json(base_path + '/ads')

In [0]:
ads = filter_irrelevant_keyword(ads)

/usr/local/lib/python3.6/dist-packages/pandas/core/strings.py:1843: UserWarning: This pattern has match groups. To actually get the groups, use str.extract.
  return func(self, *args, **kwargs)

In [0]:
ads.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 288853 entries, 0 to 307296
Data columns (total 20 columns):
ad_id               288853 non-null int64
category            288853 non-null int64
category_name       288853 non-null object
list_id             288853 non-null int64
subject             288853 non-null object
number_of_images    288853 non-null int64
price               287783 non-null float64
company_ad          288853 non-null bool
seller_type         288853 non-null object
on_listing          288853 non-null bool
in_shop             288853 non-null bool
city                288852 non-null object
city_id             288852 non-null float64
region              288203 non-null object
region_id           288203 non-null float64
district            288756 non-null object
ward                236604 non-null object
shop_id             13106 non-null float64
address             0 non-null float64
street              0 non-null float64
dtypes: bool(3), float64(6), int64(4), object(7)
memory usage: 40.5+ MB

In [0]:
interactions = pd.read_json(base_path + './adstats0.json')
interactions1 = pd.read_json(base_path + './adstats1.json')
interactions2 = pd.read_json(base_path + './adstats2.json')
interactions = interactions.append(interactions1)
interactions = interactions.append(interactions2)

In [0]:
interactions['user_fingerprint'].value_counts(sort=True, ascending=False)

                                        485629
e04f4a77-1b4d-4fb6-9529-5b1b12162067     27341
232d6ca4-a702-492f-ae82-a2b3aa0519e9     26087
984ea8e1-be16-49bd-92fa-7650344a462b     24795
750a818f-c328-4442-bd73-df4792f7de57     21943
                                         ...
7d410cd1-e2b2-4801-be3f-1aabac525d94        56
fafc0567-d4cb-4653-a6e8-04a814f916ae        55
2c6206c6-a660-46cc-ad44-840708352652        44
9b67cb7e-db7a-4abb-8f50-00726389074a        37
d614614f-dc4a-4b6c-ac47-0ba31b0d9a2f        26
Name: user_fingerprint, Length: 1000, dtype: int64

In [0]:
user_fingerprint = 'e04f4a77-1b4d-4fb6-9529-5b1b12162067'

## Use BoW to find most frequent subcategory

In [0]:
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.metrics.pairwise import cosine_similarity
import re
from sklearn.feature_extraction.text import CountVectorizer
# Your code here


# Define an object of CountVectorizer() as count
count = CountVectorizer()


def preprocessor(text):
    """ Return a cleaned version of text
    """
    text = text.replace("mac ", "macbook ")
    text = text.replace("ip ", "iphone ")
    text = text.replace("bán", " ")
    text = text.replace("zin", " ")
    text = text.replace("mới", " ")
    text = text.replace("máy", " ")
    text = text.replace("cần", " ")
    text = text.replace("_", " ")
    text = text.replace("gb", " ")
    text = text.replace("plus", " ")
    text = text.replace("galaxy", " ")
    # plus = re.findall('[\d]+{1,2} plus', text)
    # galaxy = re.findall('galaxy [\w]+{1,2}', text)
    text = re.sub('[\W]+', ' ', text)
    text = re.sub('[\d]', ' ', text)
    return text


def tokenizer(text):
    token = []
    
    # Your code here
    token = [word for word in text.split() if not word.isdigit()]
    
    return token

def TfIdf(corpus):
    tfidf = TfidfVectorizer(tokenizer=tokenizer,
                        preprocessor=preprocessor)
    tf_idf_vector=tfidf.fit_transform(corpus)
    feature_names=tfidf.get_feature_names()    
    return [feature_names, tf_idf_vector]

#helper functions
def sort_coo(coo_matrix):
    tuples = zip(coo_matrix.col, coo_matrix.data)
    return sorted(tuples, key=lambda x: (x[1], x[0]), reverse=True)
 
def extract_topn_from_vector(feature_names, sorted_items, topn=10):
    """get the feature names and tf-idf score of top n items"""
    
    #use only topn items from vector
    sorted_items = sorted_items[:topn]
 
    score_vals = []
    feature_vals = []
    
    # word index and corresponding tf-idf score
    for idx, score in sorted_items:
        
        #keep track of feature name and its corresponding score
        score_vals.append(round(score, 3))
        feature_vals.append(feature_names[idx])
 
    #create a tuples of feature,score
    #results = zip(feature_vals,score_vals)
    results= {}
    for idx in range(len(feature_vals)):
        results[feature_vals[idx]]=score_vals[idx]
    
    return results

In [0]:
interactions = pd.merge(interactions, ads[['list_id','subject']], left_on = 'adlist_id', right_on = 'list_id', how='left')

In [0]:
interactions.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3154591 entries, 0 to 3154590
Data columns (total 14 columns):
user_fingerprint      object
event_type            object
event_name            object
event_server_time     datetime64[ns]
filter_keyword        object
filter_category_id    int64
filter_region_id      int64
adlist_id             int64
filter_type           object
filter_price          object
filter_brand          object
filter_model          object
list_id               float64
subject               object
dtypes: datetime64[ns](1), float64(1), int64(3), object(9)
memory usage: 361.0+ MB

In [0]:
interactions = interactions[pd.notnull(interactions['subject'])]

In [0]:
interactions.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2978972 entries, 1 to 3156916
Data columns (total 14 columns):
user_fingerprint      object
event_type            object
event_name            object
event_server_time     datetime64[ns]
filter_keyword        object
filter_category_id    int64
filter_region_id      int64
adlist_id             int64
filter_type           object
filter_price          object
filter_brand          object
filter_model          object
list_id               float64
subject               object
dtypes: datetime64[ns](1), float64(1), int64(3), object(9)
memory usage: 340.9+ MB

In [0]:
subject = interactions['subject']
subject = [preprocessor(s) for s in subject]
# With count object, fit and transfom your twits and save result in a variable name 'bag'
bag = count.fit_transform(subject)

In [0]:
sum_words = bag.sum(axis=0) 
words_freq = [(word, sum_words[0, idx]) for word, idx in count.vocabulary_.items()]
words_freq =sorted(words_freq, key = lambda x: x[1], reverse=True)

In [0]:
most_frequent_keywords = words_freq[:10]
most_frequent_keywords

[('iphone', 444144),
 ('loa', 331388),
 ('samsung', 296739),
 ('ram', 200593),
 ('đẹp', 183600),
 ('apple', 177477),
 ('quốc', 159737),
 ('đen', 156571),
 ('tế', 153064),
 ('sony', 136455)]

In [0]:
most_actived = interactions.groupby('adlist_id', as_index=False).count().sort_values('user_fingerprint', ascending=False).head(100000)['adlist_id']
most_actived_id = most_actived.tolist()

In [0]:
extracted_ads = ads[ads['list_id'].isin(most_actived_id)]
extracted_ads = filter_irrelevant_keyword(extracted_ads)

/usr/local/lib/python3.6/dist-packages/pandas/core/strings.py:1843: UserWarning: This pattern has match groups. To actually get the groups, use str.extract.
  return func(self, *args, **kwargs)

## Collection

In [0]:
def collection(keyword,num):
    return extracted_ads[(extracted_ads['subject'].str.contains(keyword))].head(num)

In [0]:
iphone_collection = collection("iphone", 5)
iphone_collection

          ad_id  category category_name  ...  shop_id address  street
12765  91317145      5040       Tablets  ...      NaN     NaN     NaN
13154  91488541      5040       Tablets  ...      NaN     NaN     NaN
14700  91049798      5040       Tablets  ...      NaN     NaN     NaN
15737  91458490      5040       Tablets  ...      NaN     NaN     NaN
15817  91458309      5040       Tablets  ...      NaN     NaN     NaN

[5 rows x 20 columns]

In [0]:
iphone_collection.to_json("./iphone_collection.json", orient='records')

In [0]:
samsung_collection = collection("samsung", 5)
samsung_collection.to_json("./samsung_collection.json", orient='records')

In [0]:
loa_collection = collection("loa", 5)
loa_collection.to_json("./loa_collection.json", orient='records')

In [0]:
ram_collection = collection("ram", 5)
ram_collection.to_json("./ram_collection.json", orient='records')

In [0]:
sony_collection = collection("sony", 5)
sony_collection.to_json("./sony_collection.json", orient='records')

#Item recommendation

In [0]:
interactions = pd.read_json(base_path + './adstats0.json')
interactions1 = pd.read_json(base_path + './adstats1.json')
interactions2 = pd.read_json(base_path + './adstats2.json')
interactions = interactions.append(interactions1)
interactions = interactions.append(interactions2)

In [0]:
ads = pd.read_json(base_path + '/ads')

In [6]:
interactions.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3156917 entries, 0 to 1577583
Data columns (total 12 columns):
user_fingerprint      object
event_type            object
event_name            object
event_server_time     datetime64[ns]
filter_keyword        object
filter_category_id    int64
filter_region_id      int64
adlist_id             int64
filter_type           object
filter_price          object
filter_brand          object
filter_model          object
dtypes: datetime64[ns](1), int64(3), object(8)
memory usage: 313.1+ MB

In [0]:
ads.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 307297 entries, 0 to 307296
Data columns (total 20 columns):
ad_id               307297 non-null int64
category            307297 non-null int64
category_name       307297 non-null object
list_id             307297 non-null int64
subject             307297 non-null object
number_of_images    307297 non-null int64
price               304565 non-null float64
company_ad          307297 non-null bool
seller_type         307297 non-null object
on_listing          307297 non-null bool
in_shop             307297 non-null bool
city                307296 non-null object
city_id             307296 non-null float64
region              306604 non-null object
region_id           306604 non-null float64
district            307186 non-null object
ward                252425 non-null object
shop_id             13271 non-null float64
address             0 non-null float64
street              0 non-null float64
dtypes: bool(3), float64(6), int64(4), object(7)
memory usage: 40.7+ MB

In [0]:
df = pd.merge(interactions[['user_fingerprint','event_type','event_name','adlist_id']], ads[['list_id','subject']], how='inner', left_on='adlist_id', right_on='list_id')

In [22]:
df['event_name'].value_counts()

adlisting/CLASSIFYAD_LOAD       4163785
adlisting/STICKYAD_LOAD          223985
adview/ADVIEW_LOAD               153921
adlisting/ADVIEW_CLICK           117867
adview/SIMILARAD_LOAD             56058
adview/CHAT_CLICK                  2808
adview/CALL_CLICK                  1954
adview/SMS_CLICK                   1244
adview/CALL_CLICK_BODY              675
adview/SHOW_PHONE_CLICK             235
adlisting/GALLERYAD_LOAD            215
adview/SHOW_PHONE_CLICK_BODY         31
Name: event_name, dtype: int64

In [0]:
event_name_strength = {
    'adlisting/CLASSIFYAD_LOAD': 1.0, 
    'adlisting/STICKYAD_LOAD': 1.0, 
    'adview/ADVIEW_LOAD': 3.0,
    'adlisting/ADVIEW_CLICK':3.0,
    'adview/SIMILARAD_LOAD': 2.0,
    'adview/CHAT_CLICK': 4.0,
    'adview/CALL_CLICK': 5.0,
    'adview/SMS_CLICK': 4.0,
    'adview/CALL_CLICK_BODY': 5.0,
    'adview/SHOW_PHONE_CLICK': 4.0,
    'adlisting/GALLERYAD_LOAD': 1.0,
    'adview/SHOW_PHONE_CLICK_BODY':3.0}
df['event_name_strength'] = df['event_name'].apply(lambda x: event_name_strength[x])

In [0]:
df.drop(columns=['list_id'], inplace=True)

In [0]:
grouped_df = df.groupby(['user_fingerprint', 'adlist_id', 'subject']).sum().reset_index()

In [25]:
grouped_df.sample(5)

                             user_fingerprint  ...  event_name_strength
1038708  6630f20e-8de1-4c6f-80cd-711c55f8cdda  ...                  1.0
343223   13ad1e48-0932-4baa-ad74-2e5d677df481  ...                  1.0
1755043  ad0fddea-7f8d-4406-83b8-3a9ebd6cda1e  ...                  5.0
2097521  d2a5e7b9-6192-4b8f-aeec-9ff067045a5c  ...                  1.0
893063   511c1440-670a-4d10-9936-1c3f75d502f9  ...                  1.0

[5 rows x 4 columns]

In [0]:
grouped_df['user_fingerprint'] = grouped_df['user_fingerprint'].astype("category")
grouped_df['adlist_id'] = grouped_df['adlist_id'].astype("category")
grouped_df['subject'] = grouped_df['subject'].astype("category")
grouped_df['user_fingerprint_code'] = grouped_df['user_fingerprint'].cat.codes
grouped_df['adlist_id_code'] = grouped_df['adlist_id'].cat.codes

In [10]:
!pip install implicit
import implicit
import scipy.sparse as sparse
from sklearn.preprocessing import MinMaxScaler

Collecting implicit
  Downloading https://files.pythonhosted.org/packages/5a/d8/6b4f1374ffa2647b72ac76960c71b984c6f3238090359fb419d03827d87a/implicit-0.4.2.tar.gz (1.1MB)
     |████████████████████████████████| 1.1MB 5.0MB/s
Requirement already satisfied: numpy in /usr/local/lib/python3.6/dist-packages (from implicit) (1.17.4)
Requirement already satisfied: scipy>=0.16 in /usr/local/lib/python3.6/dist-packages (from implicit) (1.3.3)
Requirement already satisfied: tqdm>=4.27 in /usr/local/lib/python3.6/dist-packages (from implicit) (4.28.1)
Building wheels for collected packages: implicit
  Building wheel for implicit (setup.py) ... done
  Created wheel for implicit: filename=implicit-0.4.2-cp36-cp36m-linux_x86_64.whl size=3471596 sha256=4a1726f31eb440c22fdfb2cefb350f2b1ea425f4cf6e7b563194928dc2d99221
  Stored in directory: /root/.cache/pip/wheels/1b/48/b1/1aebe3acc3afb5589e72d3e7c3ffc3f637dc4721c1a974dff7
Successfully built implicit
Installing collected packages: implicit
Successfully installed implicit-0.4.2

In [11]:
sparse_content_person = sparse.csr_matrix((grouped_df['event_name_strength'].astype(float), (grouped_df['user_fingerprint_code'], grouped_df['adlist_id_code'])))
sparse_person_content = sparse.csr_matrix((grouped_df['event_name_strength'].astype(float), (grouped_df['adlist_id_code'], grouped_df['user_fingerprint_code'])))

model = implicit.als.AlternatingLeastSquares(factors=32, regularization=0.1, iterations=50, use_cg=True)

alpha = 15
data = (sparse_content_person * alpha).astype('double')
model.fit(data)

WARNING:root:OpenBLAS detected. Its highly recommend to set the environment variable 'export OPENBLAS_NUM_THREADS=1' to disable its internal multithreading

HBox(children=(IntProgress(value=0, max=50), HTML(value='')))

In [12]:
grouped_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2496007 entries, 0 to 2496006
Data columns (total 6 columns):
user_fingerprint         category
adlist_id                category
subject                  category
event_name_strength      float64
user_fingerprint_code    int16
adlist_id_code           int32
dtypes: category(3), float64(1), int16(1), int32(1)
memory usage: 81.1 MB

In [13]:
def recommend(user_fingerprint, sparse_person_content, person_vecs, content_vecs, num_contents=10):
    # Get the interactions scores from the sparse person content matrix
    person_interactions = sparse_person_content[user_fingerprint,:].toarray()
    # Add 1 to everything, so that articles with no interaction yet become equal to 1
    person_interactions = person_interactions.reshape(-1) + 1
    # Make articles already interacted zero
    person_interactions[person_interactions > 1] = 0
    # Get dot product of person vector and all content vectors
    rec_vector = person_vecs[user_fingerprint,:].dot(content_vecs.T).toarray()
    
    # Scale this recommendation vector between 0 and 1
    min_max = MinMaxScaler()
    rec_vector_scaled = min_max.fit_transform(rec_vector.reshape(-1,1))[:,0]
    # Content already interacted have their recommendation multiplied by zero
    recommend_vector = person_interactions * rec_vector_scaled
    # Sort the indices of the content into order of best recommendations
    content_idx = np.argsort(recommend_vector)[::-1][:num_contents]
    
    # Start empty list to store subjects and scores
    subjects = []
    scores = []

    for idx in content_idx:
        # Append subjects and scores to the list
        subjects.append(grouped_df.subject.loc[grouped_df.adlist_id_code == idx].iloc[0])
        scores.append(recommend_vector[idx])

    recommendations = pd.DataFrame({'subject': subjects, 'score': scores})

    return recommendations
    
# Get the trained person and content vectors. We convert them to csr matrices
person_vecs = sparse.csr_matrix(model.user_factors)
content_vecs = sparse.csr_matrix(model.item_factors)

# Create recommendations for person with id 50
user_fingerprint = 50

recommendations = recommend(user_fingerprint, sparse_person_content, person_vecs, content_vecs)

print(recommendations)

                                             subject     score
0   pc core i5 3470/vga gtx750ti 2g 2fan/gam 8g/250g  0.939936
1        laptop hp 6560b/i5/on-rời ,full phím, mới99  0.915376
2             iphone 6 lock 16g [ giảm giá cực sốc ]  0.803001
3                                   mua main xác h61  0.798733
4                                    màn hình iphone  0.787866
5    amly vang số ca k350 hàng nhập 100% karaoke hay  0.767543
6                               chip cpu socket 1156  0.753836
7       iphone 6s plus qt 32g(hỗ trợ trả góp 0 đồng)  0.741606
8   iphone 6s quốc tế 16g [giảm giá] ưu đãi lớn+quà🔥  0.732401
9  iphone 5s quốc tế 16g - zin 100% [mới về siêu ...  0.726124

In [17]:
grouped_df.loc[grouped_df['user_fingerprint_code'] == 50].sort_values(by=['event_name_strength'], ascending=False)[['subject', 'user_fingerprint_code', 'event_name_strength']].head(10)

                                                 subject  ...  event_name_strength
252977  samsung note 10 plus bạc đa sắc - hỗ trợ góp  ...                 14.0
252403    samsung galaxy s10 plus - 8gb/128gb••[trả góp]  ...                 13.0
252976                       ipad mini 1 16gb wifi black  ...                 13.0
252580                           iphone xs max gray 64gb  ...                 10.0
252871        samsung galaxy tab e 8 gb máy đẹp-an tân 4  ...                 10.0
252375       trinh nữ note 5 5 năm về trước ram 4gb 64gb  ...                 10.0
252951          samsung galaxy note 5 titan 4gb/32gb zin  ...                 10.0
252401      apple iphone xs max 64 gb trắng qt bán or gl  ...                  9.0
252393        apple iphone 7 plus vàng 32 gb máy như mới  ...                  9.0
252389          build pc theo yêu cầu ngon, bổ, không rẻ  ...                  8.0

[10 rows x 3 columns]

In [21]:

adlist_id_code = 151
n_similar = 10

person_vecs = model.user_factors
content_vecs = model.item_factors

content_norms = np.sqrt((content_vecs * content_vecs).sum(axis=1))

scores = content_vecs.dot(content_vecs[adlist_id_code]) / content_norms
top_idx = np.argpartition(scores, -n_similar)[-n_similar:]
similar = sorted(zip(top_idx, scores[top_idx] / content_norms[adlist_id_code]), key=lambda x: -x[1])

for content in similar:
    idx, score = content
    print(grouped_df.subject.loc[grouped_df.adlist_id_code == idx].iloc[0])

iphone 6 quốc tế 16 gb máy đẹp [bán trả góp]
ipad gen 6 2018 32g (wifi + 4g) mới 99% bh 2020
loa jbl-l80t( made in usa,xịn usa)
loa đứng nhập mỹ thunder 2,mới100%,full thùng,0000
iphone 7 quốc tế có trả góp giao lưu máy
loa jbl ki 82(bass 30),xách tay mỹ,mới 100%,0000
loa kenwood kl-888x
ipad pro 10.5 wifi 512gb màu xám
bộ máy thế hệ mới ram 8g vga 1050 main h110
đầucd denon 1650 ar