In [0]:
import pandas as pd
import numpy as np
import re
import glob
# import dask.array as da   
# import dask.dataframe as dd

base_path = './drive/My Drive/coderschool/'

In [7]:
from google.colab import drive
drive.mount('/content/drive')

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3aietf%3awg%3aoauth%3a2.0%3aoob&response_type=code&scope=email%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdocs.test%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive.photos.readonly%20https%3a%2f%2fwww.googleapis.com%2fauth%2fpeopleapi.readonly

Enter your authorization code:
··········
Mounted at /content/drive

# Preprocessing

## Ads

In [0]:
ads = pd.read_json(base_path + '/ads', lines=True)
ads.head(5)

In [0]:
ads = ads[(ads['category'] >= 5000) & (ads['category'] < 6000)]
ads

           ad_id  category              category_name  ...  shop_id address  street
108781  89054491      5070                    Desktop  ...      NaN     NaN     NaN
108782  88210600      5070                    Desktop  ...      NaN     NaN     NaN
108783  88686210      5070                    Desktop  ...      NaN     NaN     NaN
108784  88563817      5070                    Desktop  ...      NaN     NaN     NaN
108785  91484868      5070                    Desktop  ...      NaN     NaN     NaN
...          ...       ...                        ...  ...      ...     ...     ...
835114  90835489      5020  TV, Speakers, MP3 players  ...      NaN     NaN     NaN
835115  89261164      5020  TV, Speakers, MP3 players  ...      NaN     NaN     NaN
835116  90908913      5020  TV, Speakers, MP3 players  ...      NaN     NaN     NaN
835117  89664243      5020  TV, Speakers, MP3 players  ...      NaN     NaN     NaN
835118  90894381      5020  TV, Speakers, MP3 players  ...      NaN     NaN     NaN

[307297 rows x 20 columns]

In [0]:
ad_id = ads['ad_id']

In [0]:
ads['subject'] = ads['subject'].str.lower()

In [0]:
ads.to_json('./ads.json', orient='records')

In [0]:
category = ads.loc[:, ('category', 'category_name')]
category.drop_duplicates(inplace=True)
category

        category              category_name
108781      5070                    Desktop
135784      5040                    Tablets
233305      5080                 Components
400540      5060                Accessories
427980      5010              Mobile Phones
609914      5090            Smart wearables
662003      5030         Computers, Laptops
708091      5050     Cameras, Video Cameras
768099      5020  TV, Speakers, MP3 players

In [0]:
category = category[(category['category'] >= 5000)&(category['category'] < 6000)]
category

        category              category_name
108781      5070                    Desktop
135784      5040                    Tablets
233305      5080                 Components
400540      5060                Accessories
427980      5010              Mobile Phones
609914      5090            Smart wearables
662003      5030         Computers, Laptops
708091      5050     Cameras, Video Cameras
768099      5020  TV, Speakers, MP3 players

In [0]:
category.to_json('./electronic_category.json', orient='records')

## Ad_params

In [0]:
params = pd.read_json(base_path + '/ad_params', lines=True)

params.head(5)

In [0]:
params.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8885823 entries, 0 to 8885822
Data columns (total 3 columns):
ad_id    int64
name     object
value    object
dtypes: int64(1), object(2)
memory usage: 203.4+ MB

In [0]:
params1 = params[params['ad_id'].isin(ad_id)]

In [0]:
params1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3157154 entries, 0 to 8885820
Data columns (total 3 columns):
ad_id    int64
name     object
value    object
dtypes: int64(1), object(2)
memory usage: 96.3+ MB

In [0]:
params['name'].unique()

array(['trade', 'area', 'size', 'street_id', 'condition_ad',
       'property_legal_document', 'elt_condition', 'motorbiketype',
       'area_v2', 'giveaway', 'auvi_type', 'region_v2', 'rooms',
       'address', 'landed_type', 'motorbikemodel', 'regdate', 'ward',
       'mobile_color', 'mobile_type', 'accessories_type',
       'property_road_condition', 'mobile_model', 'component_type',
       'mobile_brand', 'pc_ram', 'mobile_capacity', 'property_status',
       'product_id', 'plate', 'street_number', 'max_salary', 'carcolor',
       'mileage_v2', 'truckbrand', 'evehiclebrand', 'carorigin',
       'toilets', 'pc_cpu', 'mileage', 'itemconsumer', 'pc_model',
       'cartype', 'salary_type', 'mfdate', 'carmodel', 'contract_type',
       'evehiclemotor', 'pc_drive_capacity', 'motorbikebrand', 'job_type',
       'unitnumber', 'pc_vga', 'component_class', 'tablet_screen_size',
       'auvi_brand', 'preferred_gender', 'motorbikecapacity',
       'commercial_type', 'carseats', 'carbrand', 'elt_warranty', 'fuel',
       'tablet_capacity', 'tablet_brand', 'seller_addr', 'min_salary',
       'longitude', 'vehiclecolor', 'direction', 'collection_type',
       'preferred_working_experience', 'ovehicleorigin', 'projectid',
       'pc_brand', 'bicyclesport', 'accessories_class', 'bicyclematerial',
       'floors', 'swatch_model', 'property_back_condition', 'birthday',
       'company_name', 'desktop_screen_size', 'payment_delivery',
       'laptop_screen_size', 'auvi_internet', 'gender', 'auvi_resolution',
       'gearbox', 'bicycletype', 'apartment_type', 'tablet_model',
       'evehicletype', 'preferred_job_type', 'consumer', 'block',
       'elt_lock', 'truckweight', 'evehicleorigin', 'instrument_type',
       'working_experience', 'floornumber', 'swatch_type',
       'vehicleguarantee', 'balconydirection', 'latitude',
       'bicycleorigin', 'swatch_brand', 'pc_drive_type',
       'elt_cellular_type', 'ovehicletype', 'bicyclebrand',
       'svehicletype', 'projectimages', 'bicyclesize',
       'first_time_shop_to_chotot', 'has_original_images', 'busslot',
       'deviation'], dtype=object)

In [0]:
params1['name'].unique()

array(['trade', 'area', 'condition_ad', 'elt_condition', 'area_v2',
       'giveaway', 'auvi_type', 'ward', 'mobile_color', 'region_v2',
       'mobile_type', 'accessories_type', 'mobile_model',
       'component_type', 'mobile_brand', 'pc_ram', 'mobile_capacity',
       'pc_cpu', 'pc_model', 'pc_drive_capacity', 'pc_vga',
       'component_class', 'tablet_screen_size', 'auvi_brand',
       'elt_warranty', 'tablet_capacity', 'tablet_brand', 'seller_addr',
       'pc_brand', 'accessories_class', 'swatch_model',
       'desktop_screen_size', 'payment_delivery', 'laptop_screen_size',
       'auvi_internet', 'auvi_resolution', 'tablet_model', 'elt_lock',
       'swatch_type', 'swatch_brand', 'pc_drive_type',
       'elt_cellular_type', 'latitude', 'first_time_shop_to_chotot',
       'longitude', 'has_original_images', 'itemconsumer', 'consumer',
       'collection_type'], dtype=object)

In [0]:
params1.to_json(base_path + '/ad_params.json', orient='records')

## User interactions

In [0]:
interactions = pd.read_json(base_path + '/adstats000000000000', lines=True)
interactions.head(5)

    user_session                      user_fingerprint  ... filter_model  lead_type
0  1568567569956  d59c9611-760e-4c7a-baac-a72ac5000680  ...                     NaN
1  1568567214555  d59c9611-760e-4c7a-baac-a72ac5000680  ...                     NaN
2  1568854607143      e449e2d5af0fb7d6d99e253d89780f32  ...                     NaN
3  1568567908659  d59c9611-760e-4c7a-baac-a72ac5000680  ...                     NaN
4  1568567789902  d59c9611-760e-4c7a-baac-a72ac5000680  ...                     NaN

[5 rows x 19 columns]

In [0]:
interactions.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1 entries, 0 to 0
Data columns (total 19 columns):
user_session          1 non-null object
user_fingerprint      1 non-null object
page_platform         1 non-null object
page_number           1 non-null object
event_type            1 non-null object
event_name            1 non-null object
event_server_time     1 non-null object
filter_keyword        1 non-null object
filter_category_id    1 non-null object
filter_region_id      1 non-null object
adlist_id             1 non-null object
adposition            1 non-null object
adplacement           1 non-null object
adsource              1 non-null object
filter_type           1 non-null object
filter_price          1 non-null object
filter_brand          1 non-null object
filter_model          1 non-null object
lead_type             1 non-null object
dtypes: object(19)
memory usage: 280.0+ bytes

In [0]:
interactions.drop(columns=['user_session', 'page_platform', 'page_number', 'adposition', 'adplacement', 'adsource', 'lead_type'], inplace=True)

In [0]:
interactions.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1579333 entries, 9 to 2631465
Data columns (total 12 columns):
user_fingerprint      1579333 non-null object
event_type            1579333 non-null object
event_name            1579333 non-null object
event_server_time     1579333 non-null datetime64[ns]
filter_keyword        1579333 non-null object
filter_category_id    1579333 non-null int64
filter_region_id      1579333 non-null int64
adlist_id             1579333 non-null int64
filter_type           1579333 non-null object
filter_price          1579333 non-null object
filter_brand          1579333 non-null object
filter_model          1579333 non-null object
dtypes: datetime64[ns](1), int64(3), object(8)
memory usage: 156.6+ MB

In [0]:
interactions = interactions[(interactions['filter_category_id']>=5000)&(interactions['filter_category_id']<6000)]
interactions

                             user_fingerprint  ... filter_model
9            e449e2d5af0fb7d6d99e253d89780f32  ...
174      d59c9611-760e-4c7a-baac-a72ac5000680  ...
175      131e607a-841c-4048-912b-8dfe0ef86cc1  ...
176      bbf6d39b-b385-4740-be74-f61833c2a621  ...
177      cef1ee24-d3d6-4d72-b7e9-a5457bf3f0af  ...
...                                       ...  ...          ...
2631461                                        ...
2631462  30b4a4a2-aa28-4e7c-ab46-d466ed2318e4  ...
2631463  b5b68add-3869-4e72-bebc-ba0b70b9b46c  ...
2631464  c00841dc-3f9a-43f0-8e5c-fdad773c880d  ...
2631465                                        ...

[1579333 rows x 12 columns]

In [0]:
interactions.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1579333 entries, 9 to 2631465
Data columns (total 12 columns):
user_fingerprint      1579333 non-null object
event_type            1579333 non-null object
event_name            1579333 non-null object
event_server_time     1579333 non-null datetime64[ns]
filter_keyword        1579333 non-null object
filter_category_id    1579333 non-null int64
filter_region_id      1579333 non-null int64
adlist_id             1579333 non-null int64
filter_type           1579333 non-null object
filter_price          1579333 non-null object
filter_brand          1579333 non-null object
filter_model          1579333 non-null object
dtypes: datetime64[ns](1), int64(3), object(8)
memory usage: 196.6+ MB

In [0]:
interactions.to_json(base_path + '/adstats0.json', orient='records')

In [0]:
interactions1 = pd.read_json(base_path + '/adstats000000000001', lines=True)
interactions1.head(5)

    user_session                      user_fingerprint  ... filter_model  lead_type
0  1568854564064      e449e2d5af0fb7d6d99e253d89780f32  ...                     NaN
1  1568566470278  d59c9611-760e-4c7a-baac-a72ac5000680  ...                    CALL
2  1568567765514  d59c9611-760e-4c7a-baac-a72ac5000680  ...                     NaN
3  1568567179803  d59c9611-760e-4c7a-baac-a72ac5000680  ...                     NaN
4  1568684755702      e449e2d5af0fb7d6d99e253d89780f32  ...                     NaN

[5 rows x 19 columns]

In [0]:
interactions1.drop(columns=['user_session', 'page_platform', 'page_number', 'adposition', 'adplacement', 'adsource', 'lead_type'], inplace=True)

In [0]:
interactions1 = interactions1[(interactions1['filter_category_id']>=5000)&(interactions1['filter_category_id']<6000)]
interactions1

                             user_fingerprint  ... filter_model
4            e449e2d5af0fb7d6d99e253d89780f32  ...
18           e449e2d5af0fb7d6d99e253d89780f32  ...
154      cef1ee24-d3d6-4d72-b7e9-a5457bf3f0af  ...
155      cef1ee24-d3d6-4d72-b7e9-a5457bf3f0af  ...
156      bbf6d39b-b385-4740-be74-f61833c2a621  ...
...                                       ...  ...          ...
2627561  30b4a4a2-aa28-4e7c-ab46-d466ed2318e4  ...
2627562  e717c62d-7fff-4ff4-b958-6b4faca986a1  ...
2627563  facd55f1-91b8-40d8-a982-5e3b1270db0e  ...
2627564  f69094e6-58d9-42b7-90c3-cfb95c355fa7  ...
2627565  7f73db8b-82fd-4ad3-9605-d250a191932a  ...

[1577584 rows x 12 columns]

In [0]:
interactions1.to_json(base_path + '/adstats1.json', orient='records')

In [0]:
def preprocessing_adstats(filename, newfile_destination):
    interactions = pd.read_json(filename, lines=True)
    interactions.drop(columns=['user_session', 'page_platform', 'page_number', 'adposition', 'adplacement', 'adsource', 'lead_type'], inplace=True)
    interactions = interactions[(interactions['filter_category_id']>=5000)&(interactions['filter_category_id']<6000)]
    interactions.to_json(newfile_destination, orient='records')

In [0]:
preprocessing_adstats(base_path + '/adstats000000000002', base_path + '/adstats2.json')

In [0]:
preprocessing_adstats(base_path + '/adstats000000000003', base_path + '/adstats3.json')

In [0]:
preprocessing_adstats(base_path + '/adstats000000000004', base_path + '/adstats4.json')

ValueError: ignored

In [0]:
preprocessing_adstats(base_path + '/adstats000000000005', base_path + '/adstats5.json')

In [0]:
preprocessing_adstats(base_path + '/adstats000000000006', base_path + '/adstats6.json')

In [0]:
drive.flush_and_unmount()

# Helper functions

In [0]:
def filter_irrelevant_keyword(ads):
    extracted_ads = ads[ads['subject'].str.contains('^((?!mua).)*$',regex=True)]
    extracted_ads = extracted_ads[extracted_ads['subject'].str.contains('^((?!xác).)*$',regex=True)]
    extracted_ads = extracted_ads[extracted_ads['subject'].str.contains('^((?!sửa).)*$',regex=True)]
    extracted_ads = extracted_ads[extracted_ads['subject'].str.contains('^((?!sữa).)*$',regex=True)]
    extracted_ads = extracted_ads[extracted_ads['subject'].str.contains('^((?!tiệm).)*$',regex=True)]
    extracted_ads = extracted_ads[extracted_ads['subject'].str.contains('^((?!ve chai).)*$',regex=True)]
    return extracted_ads

# Best pricing

In [0]:
ads = pd.read_json(base_path + '/ads')

In [0]:
ads.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 307297 entries, 108781 to 835118
Data columns (total 20 columns):
ad_id               307297 non-null int64
category            307297 non-null int64
category_name       307297 non-null object
list_id             307297 non-null int64
subject             307297 non-null object
number_of_images    307297 non-null int64
price               304565 non-null float64
company_ad          307297 non-null bool
seller_type         307297 non-null object
on_listing          307297 non-null bool
in_shop             307297 non-null bool
city                307296 non-null object
city_id             307296 non-null float64
region              306604 non-null object
region_id           306604 non-null float64
district            307186 non-null object
ward                252425 non-null object
shop_id             13271 non-null float64
address             0 non-null float64
street              0 non-null float64
dtypes: bool(3), float64(6), int64(4), object(7)
memory usage: 43.1+ MB

In [0]:
interactions = pd.read_json(base_path + './adstats0.json')
interactions1 = pd.read_json(base_path + './adstats1.json')
interactions = interactions.append(interactions1)

In [0]:
most_actived = interactions.groupby('adlist_id', as_index=False).count().sort_values('user_fingerprint', ascending=False).head(10000)['adlist_id']
most_actived_id = most_actived.tolist()

In [0]:
extracted_ads = ads[ads['list_id'].isin(most_actived_id)]
extracted_ads = filter_irrelevant_keyword(extracted_ads)

In [0]:
def best_pricing(city_id, category_id):
    return extracted_ads[(extracted_ads['city_id'] == city_id) & (extracted_ads['category'] == category_id)].sort_values(by='price').head(10)

In [0]:
my_city = 13000.0 # HCM
my_category = 5070 # desktop
best_pricing_desktop = best_pricing(my_city, my_category)

           ad_id  category category_name  ...  shop_id address  street
111327  91069364      5070       Desktop  ...      NaN     NaN     NaN
111882  66447997      5070       Desktop  ...      NaN     NaN     NaN
109744  91052228      5070       Desktop  ...      NaN     NaN     NaN
109454  90917220      5070       Desktop  ...      NaN     NaN     NaN
111988  91179877      5070       Desktop  ...      NaN     NaN     NaN
115359  91077260      5070       Desktop  ...      NaN     NaN     NaN
113035  91009909      5070       Desktop  ...      NaN     NaN     NaN
110265  90085586      5070       Desktop  ...      NaN     NaN     NaN
109048  90441843      5070       Desktop  ...      NaN     NaN     NaN
114854  84244151      5070       Desktop  ...      NaN     NaN     NaN

[10 rows x 20 columns]

In [0]:
best_pricing_desktop.to_json('./best_pricing_HCM_desktop.json', orient='records')

In [0]:
my_city = 13000.0 # HCM
my_category = 5010 # mobile phone
best_pricing_mobile = best_pricing(my_city, my_category)
best_pricing_mobile

           ad_id  category  category_name  ...  shop_id address  street
528783  91205623      5010  Mobile Phones  ...      NaN     NaN     NaN
480004  91321863      5010  Mobile Phones  ...      NaN     NaN     NaN
452843  91045527      5010  Mobile Phones  ...      NaN     NaN     NaN
453770  91137991      5010  Mobile Phones  ...      NaN     NaN     NaN
459680  91071101      5010  Mobile Phones  ...      NaN     NaN     NaN
443743  91063474      5010  Mobile Phones  ...      NaN     NaN     NaN
469458  91140702      5010  Mobile Phones  ...      NaN     NaN     NaN
433067  91476967      5010  Mobile Phones  ...      NaN     NaN     NaN
478634  91085294      5010  Mobile Phones  ...      NaN     NaN     NaN
443102  91063737      5010  Mobile Phones  ...      NaN     NaN     NaN

[10 rows x 20 columns]

In [0]:
best_pricing_mobile.to_json('./best_pricing_HCM_mobile.json', orient='records')

In [0]:
my_city = 13000.0 # HCM
my_category = 5030 # laptop
best_pricing_laptop = best_pricing(my_city, my_category)
best_pricing_laptop

           ad_id  category       category_name  ...  shop_id address  street
678571  91088217      5030  Computers, Laptops  ...      NaN     NaN     NaN
668255  91056769      5030  Computers, Laptops  ...      NaN     NaN     NaN
665892  91075525      5030  Computers, Laptops  ...      NaN     NaN     NaN
665214  91064104      5030  Computers, Laptops  ...      NaN     NaN     NaN
669140  91060475      5030  Computers, Laptops  ...      NaN     NaN     NaN
667378  91144575      5030  Computers, Laptops  ...      NaN     NaN     NaN
669627  91077637      5030  Computers, Laptops  ...      NaN     NaN     NaN
669389  91056246      5030  Computers, Laptops  ...      NaN     NaN     NaN
668349  91206317      5030  Computers, Laptops  ...      NaN     NaN     NaN
663623  91087068      5030  Computers, Laptops  ...      NaN     NaN     NaN

[10 rows x 20 columns]

In [0]:
best_pricing_laptop.to_json('./best_pricing_HCM_laptop.json',orient='records')

# Collection

Contruct content-based collection

In [0]:
ads = pd.read_json(base_path + '/ads')

In [10]:
ads = filter_irrelevant_keyword(ads)

/usr/local/lib/python3.6/dist-packages/pandas/core/strings.py:1843: UserWarning: This pattern has match groups. To actually get the groups, use str.extract.
  return func(self, *args, **kwargs)

In [0]:
ads.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 288853 entries, 0 to 307296
Data columns (total 20 columns):
ad_id               288853 non-null int64
category            288853 non-null int64
category_name       288853 non-null object
list_id             288853 non-null int64
subject             288853 non-null object
number_of_images    288853 non-null int64
price               287783 non-null float64
company_ad          288853 non-null bool
seller_type         288853 non-null object
on_listing          288853 non-null bool
in_shop             288853 non-null bool
city                288852 non-null object
city_id             288852 non-null float64
region              288203 non-null object
region_id           288203 non-null float64
district            288756 non-null object
ward                236604 non-null object
shop_id             13106 non-null float64
address             0 non-null float64
street              0 non-null float64
dtypes: bool(3), float64(6), int64(4), object(7)
memory usage: 40.5+ MB

In [0]:
interactions = pd.read_json(base_path + './adstats0.json')
interactions1 = pd.read_json(base_path + './adstats1.json')
interactions = interactions.append(interactions1)

## Use BoW to find most frequent subcategory

In [0]:
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.metrics.pairwise import cosine_similarity
import re
from sklearn.feature_extraction.text import CountVectorizer
# Your code here


# Define an object of CountVectorizer() as count
count = CountVectorizer()


def preprocessor(text):
    """ Return a cleaned version of text
    """
    text = text.replace("mac ", "macbook ")
    text = text.replace("ip ", "iphone ")
    text = text.replace("bán", " ")
    text = text.replace("zin", " ")
    text = text.replace("mới", " ")
    text = text.replace("máy", " ")
    text = text.replace("cần", " ")
    text = text.replace("_", " ")
    text = text.replace("gb", " ")
    text = text.replace("plus", " ")
    text = text.replace("galaxy", " ")
    # plus = re.findall('[\d]+{1,2} plus', text)
    # galaxy = re.findall('galaxy [\w]+{1,2}', text)
    text = re.sub('[\W]+', ' ', text)
    text = re.sub('[\d]', ' ', text)
    return text


def tokenizer(text):
    token = []
    
    # Your code here
    token = [word for word in text.split() if not word.isdigit()]
    
    return token

def TfIdf(corpus):
    tfidf = TfidfVectorizer(tokenizer=tokenizer,
                        preprocessor=preprocessor)
    tf_idf_vector=tfidf.fit_transform(corpus)
    feature_names=tfidf.get_feature_names()    
    return [feature_names, tf_idf_vector]

#helper functions
def sort_coo(coo_matrix):
    tuples = zip(coo_matrix.col, coo_matrix.data)
    return sorted(tuples, key=lambda x: (x[1], x[0]), reverse=True)
 
def extract_topn_from_vector(feature_names, sorted_items, topn=10):
    """get the feature names and tf-idf score of top n items"""
    
    #use only topn items from vector
    sorted_items = sorted_items[:topn]
 
    score_vals = []
    feature_vals = []
    
    # word index and corresponding tf-idf score
    for idx, score in sorted_items:
        
        #keep track of feature name and its corresponding score
        score_vals.append(round(score, 3))
        feature_vals.append(feature_names[idx])
 
    #create a tuples of feature,score
    #results = zip(feature_vals,score_vals)
    results= {}
    for idx in range(len(feature_vals)):
        results[feature_vals[idx]]=score_vals[idx]
    
    return results

In [31]:
t = "mlkwemlkw          123313 123123           3123ndkaksd 312313"
print(preprocessor(t))

mlkwemlkw      ndkaksd

In [0]:
interactions = pd.merge(interactions, ads[['list_id','subject']], left_on = 'adlist_id', right_on = 'list_id', how='left')

In [0]:
interactions.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3154591 entries, 0 to 3154590
Data columns (total 14 columns):
user_fingerprint      object
event_type            object
event_name            object
event_server_time     datetime64[ns]
filter_keyword        object
filter_category_id    int64
filter_region_id      int64
adlist_id             int64
filter_type           object
filter_price          object
filter_brand          object
filter_model          object
list_id               float64
subject               object
dtypes: datetime64[ns](1), float64(1), int64(3), object(9)
memory usage: 361.0+ MB

In [0]:
interactions = interactions[pd.notnull(interactions['subject'])]

In [21]:
interactions.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2978972 entries, 1 to 3156916
Data columns (total 14 columns):
user_fingerprint      object
event_type            object
event_name            object
event_server_time     datetime64[ns]
filter_keyword        object
filter_category_id    int64
filter_region_id      int64
adlist_id             int64
filter_type           object
filter_price          object
filter_brand          object
filter_model          object
list_id               float64
subject               object
dtypes: datetime64[ns](1), float64(1), int64(3), object(9)
memory usage: 340.9+ MB

In [0]:
subject = interactions['subject']
subject = [preprocessor(s) for s in subject]
# With count object, fit and transfom your twits and save result in a variable name 'bag'
bag = count.fit_transform(subject)

In [0]:
sum_words = bag.sum(axis=0) 
words_freq = [(word, sum_words[0, idx]) for word, idx in count.vocabulary_.items()]
words_freq =sorted(words_freq, key = lambda x: x[1], reverse=True)

In [53]:
most_frequent_keywords = words_freq[:10]
most_frequent_keywords

[('iphone', 444144),
 ('loa', 331388),
 ('samsung', 296739),
 ('ram', 200593),
 ('đẹp', 183600),
 ('apple', 177477),
 ('quốc', 159737),
 ('đen', 156571),
 ('tế', 153064),
 ('sony', 136455)]

In [0]:
most_actived = interactions.groupby('adlist_id', as_index=False).count().sort_values('user_fingerprint', ascending=False).head(100000)['adlist_id']
most_actived_id = most_actived.tolist()

In [56]:
extracted_ads = ads[ads['list_id'].isin(most_actived_id)]
extracted_ads = filter_irrelevant_keyword(extracted_ads)

/usr/local/lib/python3.6/dist-packages/pandas/core/strings.py:1843: UserWarning: This pattern has match groups. To actually get the groups, use str.extract.
  return func(self, *args, **kwargs)

In [0]:
def collection(keyword,num):
    return extracted_ads[(extracted_ads['subject'].str.contains(keyword))].head(num)

In [67]:
iphone_collection = collection("iphone", 5)
iphone_collection

          ad_id  category category_name  ...  shop_id address  street
12765  91317145      5040       Tablets  ...      NaN     NaN     NaN
13154  91488541      5040       Tablets  ...      NaN     NaN     NaN
14700  91049798      5040       Tablets  ...      NaN     NaN     NaN
15737  91458490      5040       Tablets  ...      NaN     NaN     NaN
15817  91458309      5040       Tablets  ...      NaN     NaN     NaN

[5 rows x 20 columns]

In [0]:
iphone_collection.to_json("./iphone_collection.json", orient='records')

In [0]:
samsung_collection = collection("samsung", 5)
samsung_collection.to_json("./samsung_collection.json", orient='records')

In [0]:
loa_collection = collection("loa", 5)
loa_collection.to_json("./loa_collection.json", orient='records')

In [0]:
ram_collection = collection("ram", 5)
ram_collection.to_json("./ram_collection.json", orient='records')

In [0]:
sony_collection = collection("sony", 5)
sony_collection.to_json("./sony_collection.json", orient='records')

#Item recommendation

In [0]:
interactions['event_name'].value_counts()

adlisting/CLASSIFYAD_LOAD       2782267
adlisting/STICKYAD_LOAD          149638
adview/ADVIEW_LOAD               103432
adlisting/ADVIEW_CLICK            78763
adview/SIMILARAD_LOAD             37853
adview/CHAT_CLICK                  1882
adview/CALL_CLICK                  1305
adview/SMS_CLICK                    843
adview/CALL_CLICK_BODY              454
adlisting/GALLERYAD_LOAD            312
adview/SHOW_PHONE_CLICK             152
adview/SHOW_PHONE_CLICK_BODY         16
Name: event_name, dtype: int64

In [0]:
interest_category = interactions[(interactions['event_name']=='adlisting/CLASSIFYAD_LOAD')|(interactions['event_name']=='adlisting/STICKYAD_LOAD')]

In [0]:
interest_category.to_json('interest_category.json',orient='records')

In [0]:
interactions[interactions['event_name']=='adlisting/CLASSIFYAD_LOAD']

          user_session  ... lead_type
49870    1568533888343  ...      None
49876    1568625723194  ...      None
49924    1568535737142  ...      None
49970    1568723419377  ...      None
49987    1569247081545  ...      None
...                ...  ...       ...
2627561  1568555950257  ...      None
2627562  1569168093841  ...      None
2627563  1568556196199  ...      None
2627564  1569077880454  ...      None
2627565  1568477890905  ...      None

[2782267 rows x 19 columns]