In [0]:
import pandas as pd
import numpy as np
import re
# import dask.array as da   
# import dask.dataframe as dd

base_path = './drive/My Drive/coderschool/'

In [3]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

# Preprocessing

## Ads

In [8]:
ads = pd.read_json(base_path + '/ads', lines=True)
ads.head(5)

      ad_id  category category_name  ...  shop_id address  street
0  89201858     12050           Cat  ...      NaN     NaN     NaN
1  89800723     12050           Cat  ...      NaN     NaN     NaN
2  88342562     12050           Cat  ...      NaN     NaN     NaN
3  90956944     12050           Cat  ...      NaN     NaN     NaN
4  89492723     12050           Cat  ...      NaN     NaN     NaN

[5 rows x 20 columns]

In [9]:
ads = ads[(ads['category'] >= 5000) & (ads['category'] < 6000)]
ads

           ad_id  category              category_name  ...  shop_id address  street
108781  89054491      5070                    Desktop  ...      NaN     NaN     NaN
108782  88210600      5070                    Desktop  ...      NaN     NaN     NaN
108783  88686210      5070                    Desktop  ...      NaN     NaN     NaN
108784  88563817      5070                    Desktop  ...      NaN     NaN     NaN
108785  91484868      5070                    Desktop  ...      NaN     NaN     NaN
...          ...       ...                        ...  ...      ...     ...     ...
835114  90835489      5020  TV, Speakers, MP3 players  ...      NaN     NaN     NaN
835115  89261164      5020  TV, Speakers, MP3 players  ...      NaN     NaN     NaN
835116  90908913      5020  TV, Speakers, MP3 players  ...      NaN     NaN     NaN
835117  89664243      5020  TV, Speakers, MP3 players  ...      NaN     NaN     NaN
835118  90894381      5020  TV, Speakers, MP3 players  ...      NaN     NaN     NaN

[307297 rows x 20 columns]

In [0]:
ad_id = ads['ad_id']

In [0]:
ads['subject'] = ads['subject'].str.lower()

In [0]:
ads.to_json('./ads')

In [0]:
category = ads.loc[:, ('category', 'category_name')]
category.drop_duplicates(inplace=True)
category

        category              category_name
108781      5070                    Desktop
135784      5040                    Tablets
233305      5080                 Components
400540      5060                Accessories
427980      5010              Mobile Phones
609914      5090            Smart wearables
662003      5030         Computers, Laptops
708091      5050     Cameras, Video Cameras
768099      5020  TV, Speakers, MP3 players

In [0]:
category = category[(category['category'] >= 5000)&(category['category'] < 6000)]
category

        category              category_name
108781      5070                    Desktop
135784      5040                    Tablets
233305      5080                 Components
400540      5060                Accessories
427980      5010              Mobile Phones
609914      5090            Smart wearables
662003      5030         Computers, Laptops
708091      5050     Cameras, Video Cameras
768099      5020  TV, Speakers, MP3 players

In [0]:
category.to_json('./electronic_category')

## Ad_params

In [11]:
params = pd.read_json(base_path + '/ad_params', lines=True)

params.head(5)

      ad_id          name value
0  90969735         trade     0
1  90969735          area   117
2  89010745          size    93
3  91508628     street_id     0
4  88001201  condition_ad     1

In [0]:
params.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8885823 entries, 0 to 8885822
Data columns (total 3 columns):
ad_id    int64
name     object
value    object
dtypes: int64(1), object(2)
memory usage: 203.4+ MB

In [0]:
params1 = params[params['ad_id'].isin(ad_id)]

In [0]:
params1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3157154 entries, 0 to 8885820
Data columns (total 3 columns):
ad_id    int64
name     object
value    object
dtypes: int64(1), object(2)
memory usage: 96.3+ MB

In [0]:
params['name'].unique()

array(['trade', 'area', 'size', 'street_id', 'condition_ad',
       'property_legal_document', 'elt_condition', 'motorbiketype',
       'area_v2', 'giveaway', 'auvi_type', 'region_v2', 'rooms',
       'address', 'landed_type', 'motorbikemodel', 'regdate', 'ward',
       'mobile_color', 'mobile_type', 'accessories_type',
       'property_road_condition', 'mobile_model', 'component_type',
       'mobile_brand', 'pc_ram', 'mobile_capacity', 'property_status',
       'product_id', 'plate', 'street_number', 'max_salary', 'carcolor',
       'mileage_v2', 'truckbrand', 'evehiclebrand', 'carorigin',
       'toilets', 'pc_cpu', 'mileage', 'itemconsumer', 'pc_model',
       'cartype', 'salary_type', 'mfdate', 'carmodel', 'contract_type',
       'evehiclemotor', 'pc_drive_capacity', 'motorbikebrand', 'job_type',
       'unitnumber', 'pc_vga', 'component_class', 'tablet_screen_size',
       'auvi_brand', 'preferred_gender', 'motorbikecapacity',
       'commercial_type', 'carseats', 'carbrand', 'elt_warranty', 'fuel',
       'tablet_capacity', 'tablet_brand', 'seller_addr', 'min_salary',
       'longitude', 'vehiclecolor', 'direction', 'collection_type',
       'preferred_working_experience', 'ovehicleorigin', 'projectid',
       'pc_brand', 'bicyclesport', 'accessories_class', 'bicyclematerial',
       'floors', 'swatch_model', 'property_back_condition', 'birthday',
       'company_name', 'desktop_screen_size', 'payment_delivery',
       'laptop_screen_size', 'auvi_internet', 'gender', 'auvi_resolution',
       'gearbox', 'bicycletype', 'apartment_type', 'tablet_model',
       'evehicletype', 'preferred_job_type', 'consumer', 'block',
       'elt_lock', 'truckweight', 'evehicleorigin', 'instrument_type',
       'working_experience', 'floornumber', 'swatch_type',
       'vehicleguarantee', 'balconydirection', 'latitude',
       'bicycleorigin', 'swatch_brand', 'pc_drive_type',
       'elt_cellular_type', 'ovehicletype', 'bicyclebrand',
       'svehicletype', 'projectimages', 'bicyclesize',
       'first_time_shop_to_chotot', 'has_original_images', 'busslot',
       'deviation'], dtype=object)

In [0]:
params1['name'].unique()

array(['trade', 'area', 'condition_ad', 'elt_condition', 'area_v2',
       'giveaway', 'auvi_type', 'ward', 'mobile_color', 'region_v2',
       'mobile_type', 'accessories_type', 'mobile_model',
       'component_type', 'mobile_brand', 'pc_ram', 'mobile_capacity',
       'pc_cpu', 'pc_model', 'pc_drive_capacity', 'pc_vga',
       'component_class', 'tablet_screen_size', 'auvi_brand',
       'elt_warranty', 'tablet_capacity', 'tablet_brand', 'seller_addr',
       'pc_brand', 'accessories_class', 'swatch_model',
       'desktop_screen_size', 'payment_delivery', 'laptop_screen_size',
       'auvi_internet', 'auvi_resolution', 'tablet_model', 'elt_lock',
       'swatch_type', 'swatch_brand', 'pc_drive_type',
       'elt_cellular_type', 'latitude', 'first_time_shop_to_chotot',
       'longitude', 'has_original_images', 'itemconsumer', 'consumer',
       'collection_type'], dtype=object)

In [0]:
params1.to_json('./ads_params')

## User interactions

In [3]:
interactions = pd.read_json(base_path + '/adstats000000000000', lines=True)
interactions.head(5)

    user_session                      user_fingerprint  ... filter_model  lead_type
0  1568567569956  d59c9611-760e-4c7a-baac-a72ac5000680  ...                     NaN
1  1568567214555  d59c9611-760e-4c7a-baac-a72ac5000680  ...                     NaN
2  1568854607143      e449e2d5af0fb7d6d99e253d89780f32  ...                     NaN
3  1568567908659  d59c9611-760e-4c7a-baac-a72ac5000680  ...                     NaN
4  1568567789902  d59c9611-760e-4c7a-baac-a72ac5000680  ...                     NaN

[5 rows x 19 columns]

In [0]:
interactions.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2654141 entries, 0 to 2654140
Data columns (total 19 columns):
user_session          int64
user_fingerprint      object
page_platform         object
page_number           int64
event_type            object
event_name            object
event_server_time     datetime64[ns]
filter_keyword        object
filter_category_id    int64
filter_region_id      int64
adlist_id             int64
adposition            int64
adplacement           object
adsource              object
filter_type           object
filter_price          object
filter_brand          object
filter_model          object
lead_type             object
dtypes: datetime64[ns](1), int64(6), object(12)
memory usage: 384.7+ MB

In [4]:
interactions = interactions[(interactions['filter_category_id']>=5000)&(interactions['filter_category_id']<6000)]
interactions

          user_session  ... lead_type
9        1568854239285  ...       NaN
174      1568993580830  ...       NaN
175      1568557004701  ...       NaN
176      1568898686845  ...       NaN
177      1569122112916  ...       NaN
...                ...  ...       ...
2631461  1568778959528  ...       NaN
2631462  1568626843103  ...       NaN
2631463  1568505310393  ...       NaN
2631464  1568879662785  ...       NaN
2631465  1568799904092  ...       NaN

[1579333 rows x 19 columns]

In [0]:
interactions.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1579333 entries, 9 to 2631465
Data columns (total 19 columns):
user_session          1579333 non-null int64
user_fingerprint      1579333 non-null object
page_platform         1579333 non-null object
page_number           1579333 non-null int64
event_type            1579333 non-null object
event_name            1579333 non-null object
event_server_time     1579333 non-null datetime64[ns]
filter_keyword        1579333 non-null object
filter_category_id    1579333 non-null int64
filter_region_id      1579333 non-null int64
adlist_id             1579333 non-null int64
adposition            1579333 non-null int64
adplacement           1579333 non-null object
adsource              1579333 non-null object
filter_type           1579333 non-null object
filter_price          1579333 non-null object
filter_brand          1579333 non-null object
filter_model          1579333 non-null object
lead_type             2044 non-null object
dtypes: datetime64[ns](1), int64(6), object(12)
memory usage: 241.0+ MB

In [0]:
interactions.to_json('./adstats0')

In [13]:
interactions1 = pd.read_json(base_path + '/adstats000000000001', lines=True)
interactions1.head(5)

    user_session                      user_fingerprint  ... filter_model  lead_type
0  1568854564064      e449e2d5af0fb7d6d99e253d89780f32  ...                     NaN
1  1568566470278  d59c9611-760e-4c7a-baac-a72ac5000680  ...                    CALL
2  1568567765514  d59c9611-760e-4c7a-baac-a72ac5000680  ...                     NaN
3  1568567179803  d59c9611-760e-4c7a-baac-a72ac5000680  ...                     NaN
4  1568684755702      e449e2d5af0fb7d6d99e253d89780f32  ...                     NaN

[5 rows x 19 columns]

In [14]:
interactions1 = interactions1[(interactions1['filter_category_id']>=5000)&(interactions1['filter_category_id']<6000)]
interactions1

          user_session  ... lead_type
4        1568684755702  ...       NaN
18       1568854267921  ...       NaN
154      1568960682986  ...       NaN
155      1568601363650  ...       NaN
156      1568718434795  ...       NaN
...                ...  ...       ...
2627561  1568555950257  ...       NaN
2627562  1569168093841  ...       NaN
2627563  1568556196199  ...       NaN
2627564  1569077880454  ...       NaN
2627565  1568477890905  ...       NaN

[1577584 rows x 19 columns]

In [0]:
interactions1.to_json('./adstats1')

In [0]:
interactions2 = pd.read_json(base_path + '/adstats000000000002', lines=True)
interactions2 = interactions2[(interactions2['filter_category_id']>=5000)&(interactions2['filter_category_id']<6000)]
interactions2.to_json('./adstats2')

In [0]:
interactions3 = pd.read_json(base_path + '/adstats000000000003', lines=True)
interactions3 = interactions3[(interactions3['filter_category_id']>=5000)&(interactions3['filter_category_id']<6000)]
interactions3.to_json('./adstats3')

In [0]:
interactions4 = pd.read_json(base_path + '/adstats000000000004', lines=True)
interactions4 = interactions4[(interactions4['filter_category_id']>=5000)&(interactions4['filter_category_id']<6000)]
interactions4.to_json('./adstats4')

In [0]:
interactions5 = pd.read_json(base_path + '/adstats000000000005', lines=True)
interactions5 = interactions5[(interactions5['filter_category_id']>=5000)&(interactions5['filter_category_id']<6000)]
interactions5.to_json('./adstats5')

In [0]:
interactions6 = pd.read_json(base_path + '/adstats000000000006', lines=True)
interactions6 = interactions6[(interactions6['filter_category_id']>=5000)&(interactions6['filter_category_id']<6000)]
interactions6.to_json('./adstats6')

In [0]:
interactions2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1575373 entries, 0 to 2626148
Data columns (total 19 columns):
user_session          1575373 non-null object
user_fingerprint      1575373 non-null object
page_platform         1575373 non-null object
page_number           1575373 non-null int64
event_type            1575373 non-null object
event_name            1575373 non-null object
event_server_time     1575373 non-null datetime64[ns]
filter_keyword        1575373 non-null object
filter_category_id    1575373 non-null int64
filter_region_id      1575373 non-null int64
adlist_id             1575373 non-null int64
adposition            1575373 non-null int64
adplacement           1575373 non-null object
adsource              1575373 non-null object
filter_type           1575373 non-null object
filter_price          1575373 non-null object
filter_brand          1575373 non-null object
filter_model          1575373 non-null object
lead_type             2082 non-null object
dtypes: datetime64[ns](1), int64(5), object(13)
memory usage: 240.4+ MB

# Best pricing

In [0]:
ads = pd.read_json(base_path + '/ads')

In [20]:
ads.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 307297 entries, 108781 to 835118
Data columns (total 20 columns):
ad_id               307297 non-null int64
category            307297 non-null int64
category_name       307297 non-null object
list_id             307297 non-null int64
subject             307297 non-null object
number_of_images    307297 non-null int64
price               304565 non-null float64
company_ad          307297 non-null bool
seller_type         307297 non-null object
on_listing          307297 non-null bool
in_shop             307297 non-null bool
city                307296 non-null object
city_id             307296 non-null float64
region              306604 non-null object
region_id           306604 non-null float64
district            307186 non-null object
ward                252425 non-null object
shop_id             13271 non-null float64
address             0 non-null float64
street              0 non-null float64
dtypes: bool(3), float64(6), int64(4), object(7)
memory usage: 43.1+ MB

In [0]:
interactions = pd.read_json(base_path + './adstats0')
interactions1 = pd.read_json(base_path + './adstats1')

In [0]:
interactions = interactions.append(interactions1)

In [0]:
most_actived = interactions.groupby('adlist_id', as_index=False).count().sort_values('user_fingerprint', ascending=False).head(10000)['adlist_id']

In [0]:
most_actived_id = most_actived_id.tolist()

In [0]:
extracted_ads = ads[ads['list_id'].isin(most_actived_id)]

In [26]:
extracted_ads = extracted_ads[extracted_ads['subject'].str.contains('^((?!mua).)*$',regex=True)]
extracted_ads = extracted_ads[extracted_ads['subject'].str.contains('^((?!xác).)*$',regex=True)]
extracted_ads = extracted_ads[extracted_ads['subject'].str.contains('^((?!sửa).)*$',regex=True)]
extracted_ads = extracted_ads[extracted_ads['subject'].str.contains('^((?!sữa).)*$',regex=True)]
extracted_ads = extracted_ads[extracted_ads['subject'].str.contains('^((?!tiệm).)*$',regex=True)]
extracted_ads = extracted_ads[extracted_ads['subject'].str.contains('^((?!ve chai).)*$',regex=True)]

/usr/local/lib/python3.6/dist-packages/pandas/core/strings.py:1843: UserWarning: This pattern has match groups. To actually get the groups, use str.extract.
  return func(self, *args, **kwargs)

In [33]:
my_city = 13000.0 # HCM
my_category = 5070 # desktop
best_pricing_desktop = extracted_ads[(extracted_ads['city_id'] == my_city) & (extracted_ads['category'] == my_category)].sort_values(by='price').head(10)
best_pricing_desktop

           ad_id  category category_name  ...  shop_id address  street
111327  91069364      5070       Desktop  ...      NaN     NaN     NaN
111882  66447997      5070       Desktop  ...      NaN     NaN     NaN
109744  91052228      5070       Desktop  ...      NaN     NaN     NaN
109454  90917220      5070       Desktop  ...      NaN     NaN     NaN
111988  91179877      5070       Desktop  ...      NaN     NaN     NaN
115359  91077260      5070       Desktop  ...      NaN     NaN     NaN
113035  91009909      5070       Desktop  ...      NaN     NaN     NaN
110265  90085586      5070       Desktop  ...      NaN     NaN     NaN
109048  90441843      5070       Desktop  ...      NaN     NaN     NaN
114854  84244151      5070       Desktop  ...      NaN     NaN     NaN

[10 rows x 20 columns]

In [0]:
best_pricing_desktop.to_json('./best_pricing_HCM_desktop')

In [34]:
my_city = 13000.0 # HCM
my_category = 5010 # mobile phone
best_pricing_mobile = extracted_ads[(extracted_ads['city_id'] == my_city) & (extracted_ads['category'] == my_category)].sort_values(by='price').head(10)
best_pricing_mobile

           ad_id  category  category_name  ...  shop_id address  street
528783  91205623      5010  Mobile Phones  ...      NaN     NaN     NaN
480004  91321863      5010  Mobile Phones  ...      NaN     NaN     NaN
452843  91045527      5010  Mobile Phones  ...      NaN     NaN     NaN
453770  91137991      5010  Mobile Phones  ...      NaN     NaN     NaN
459680  91071101      5010  Mobile Phones  ...      NaN     NaN     NaN
443743  91063474      5010  Mobile Phones  ...      NaN     NaN     NaN
469458  91140702      5010  Mobile Phones  ...      NaN     NaN     NaN
433067  91476967      5010  Mobile Phones  ...      NaN     NaN     NaN
478634  91085294      5010  Mobile Phones  ...      NaN     NaN     NaN
443102  91063737      5010  Mobile Phones  ...      NaN     NaN     NaN

[10 rows x 20 columns]

In [0]:
best_pricing_mobile.to_json('./best_pricing_HCM_mobile')

In [37]:
my_city = 13000.0 # HCM
my_category = 5030 # laptop
best_pricing_laptop = extracted_ads[(extracted_ads['city_id'] == my_city) & (extracted_ads['category'] == my_category)].sort_values(by='price').head(10)
best_pricing_laptop

           ad_id  category       category_name  ...  shop_id address  street
678571  91088217      5030  Computers, Laptops  ...      NaN     NaN     NaN
668255  91056769      5030  Computers, Laptops  ...      NaN     NaN     NaN
665892  91075525      5030  Computers, Laptops  ...      NaN     NaN     NaN
665214  91064104      5030  Computers, Laptops  ...      NaN     NaN     NaN
669140  91060475      5030  Computers, Laptops  ...      NaN     NaN     NaN
667378  91144575      5030  Computers, Laptops  ...      NaN     NaN     NaN
669627  91077637      5030  Computers, Laptops  ...      NaN     NaN     NaN
669389  91056246      5030  Computers, Laptops  ...      NaN     NaN     NaN
668349  91206317      5030  Computers, Laptops  ...      NaN     NaN     NaN
663623  91087068      5030  Computers, Laptops  ...      NaN     NaN     NaN

[10 rows x 20 columns]

In [0]:
best_pricing_laptop.to_json('./best_pricing_HCM_laptop')